@import url('/styles/header.css');

:root {
    --corDeFundo: #EBECEE;
    --branco: #ffffff;
}

body {

    background-color: var(--corDeFundo);
}

.cabecalho {

    display: flex;
    background-color: var(--branco);
    justify-content: space-between;
    align-items: center;
}

.container {

    display: flex;
    align-items: center;
}

.container_imagem {

    padding: 1rem;
}
